{% extends "base.html" %}
{% block title %}Product {{ product }}{% endblock %}
{% block content %}
</div>
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="{{ image }}" alt="{{ slug }}" style="width:100%">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{  product }}</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Memory</span><span>{{ memory }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Available for purchase</span><span>{{ available }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Vesa Mount Adapter</span><span>$199</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Price</span><span>{{price}}</span>
            </div>
                <p>{{ description }}</p>
      {% if available %}
          <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" onclick="location.href='product/{{item.slug}}';">
                Buy
          </button>
    {% else %}
          <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" onclick="location.href='product/{{item.slug}}';" disabled>
                Buy
          </button>
    {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
