{% extends "base.html" %}
{% block title %}{{ username }} Profile{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>

    <h2 style="text-align:center">User Profile Card</h2>

    <div class="card">
        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
        <h1 class="title">{{ username }}</h1>
        <p><b>Surname: </b>{{ last_name }}</p>
        <p><b>Name: </b>{{ first_name }}</p>
        <p><b>Education: </b>{{ university }}</p>
        <p><b>Age: </b>{{ age }}</p>

        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

        <p>
            <button onclick="location.href='mailto:{{ email }}';">Contact</button>
        </p>
    </div>
{% endblock content %}
